@charset "ISO-8859-1";
body{
  background-image: url("images/bg2.jpg");
  color:white;
  height: 500px;
  background-position: center;
 
  background-size: cover;
  position: relative;
}
h1{text-align: center;}
table {
	
	width:100%;
	
	
}
span{font-size: 9;


}
#degign{
	position: absolute; bottom: 0; right: 0;  text-align:right;
	
}
